site_name: vitistack docs
repo_url: https://github.com/vitistack/docs
repo_name: vitistack/docs
edit_uri: edit/main/docs/
theme:
  name: material
  language: "nb"
  logo: images/viti.png
  favicon: images/viti.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - content.action.edit
    - content.code.copy
    - content.code.annotate
  icon:
    edit: material/pencil 
    view: material/eye
    repo: fontawesome/brands/github
extra_css:
  - css/viti.css
extra_javascript:
  - js/accessibility.js
plugins:
    - search
    - mermaid2
    - glightbox
markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - admonition
  - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - footnotes
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vitistack
      name: vitistack
  generator: false
nav:
  - Tutorials:
    - tutorials/index.md
    - tutorials/how.md
  - How-to-guides:
    - howtoguide/index.md
  - Reference:
    - reference/index.md
    - reference/opensourcesoftware.md
    - reference/repository.md
    - reference/dns.md

    - Configuration:
      - reference/clusterdiscovery.md
      - reference/configuration/index.md
    - Operators:
      - reference/operators/index.md
      - reference/operators/viti-proxmox-operator.md
      - reference/operators/vitistack-operator.md
      - reference/operators/viti-talos-operator.md
      - reference/operators/viti-kubevirt-operator.md
      - reference/operators/viti-physical-operator.md
      - reference/operators/kea-operator.md
      - reference/operators/ipam-operator.md
    - CRDs:
      - reference/crd/index.md
    - API:
      - reference/api/index.md
      - reference/api/ipam-api.md
  - Explanation:
    - explanation/index.md
    - explanation/architecture.md
  - Release Notes:
    - release_notes/index.md
    - release_notes/v1.0.x/v1_0_x.md
